@font-face {
  font-family: "Stolzl";
  src: url("./fonts/Stolzl-Light.woff2") format("woff2"),
  url("./fonts/Stolzl-Light.woff") format("woff"),
  url("./fonts/Stolzl-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stolzl";
  src: url("./fonts/Stolzl-Regular.eot");
  src: url("./fonts/Stolzl-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Stolzl-Regular.woff2") format("woff2"), url("./fonts/Stolzl-Regular.woff") format("woff"), url("./fonts/Stolzl-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stolzl";
  src: url("./fonts/Stolzl-Medium.eot");
  src: url("./fonts/Stolzl-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/Stolzl-Medium.woff2") format("woff2"), url("./fonts/Stolzl-Medium.woff") format("woff"), url("./fonts/Stolzl-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stolzl";
  src: url("./fonts/Stolzl-Bold.eot");
  src: url("./fonts/Stolzl-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Stolzl-Bold.woff2") format("woff2"), url("./fonts/Stolzl-Bold.woff") format("woff"), url("./fonts/Stolzl-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-Regular.eot");
  src: url("./fonts/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("./fonts/PlayfairDisplay-Regular.woff") format("woff"), url("./fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-Bold.eot");
  src: url("./fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("./fonts/PlayfairDisplay-Bold.woff") format("woff"), url("./fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pramodia";
  src: url("./fonts/Pramodia.eot");
  src: url("./fonts/Pramodia.eot?#iefix") format("embedded-opentype"), url("./fonts/Pramodia.woff2") format("woff2"), url("./fonts/Pramodia.woff") format("woff"), url("./fonts/Pramodia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

ul {
  list-style-type: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

:root {
  --first-font: "Stolzl", sans-serif;
  --second-font: "Playfair Display", sans-serif;
  --third-font: "Pramodia", sans-serif;
  --color-white: #F9F9F9;
  --color-black: #1C1E1E;
  --color-brown: #9D8962;
  --color-brown-darken: #837454;
  --bg: #F0F8FF;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --dropShadow: #5f17e5;
  --fontFamily: 'Playfair Display';


}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Playfair Display", sans-serif;
}

body {
  width: 100vw;
  position: relative;
  min-height: 100vh;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  overflow-x: hidden;
  letter-spacing: 0;
  background-color: #0f172a;
  color: white;
}

.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}
.light {
  --bg: var(--bg);
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}
.container {
  min-height: 100vh;
  color: var(--softBg);


}

.wrapper {
  width: 100%;
  min-height: 100vh;
  max-width: 1536px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid black;

}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 100%;
    padding: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {

  }
}

@media screen and (max-width: 768px) {
  .wrapper {

  }
}

@media screen and (max-width: 640px) {
  .wrapper {

  }
}

@media screen and (max-width: 475px) {
  .wrapper {

  }
}
